:root {
  --yinmn-blue: #2E5090;
  --rtz-orange: #ff6600;
  --ntp-yellow: #ece802;
  --almost-dark: #361816;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  background-color: var(--yinmn-blue);
}

p { 
  margin: 14px;
}

.top-bar {
  height: 100%;
  width: 100%;
  background-color: var(--rtz-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-bar h1 {
  font-size: 3rem;
  letter-spacing: 10px;
  font-family: 'Fira Code Medium', sans-serif;
  color: var(--almost-dark);
  margin: 15px;
}